:root {
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-family: "Hind", sans-serif;
  --primary-color: #1b1b1b;
  --secondary-color: #e9e9e9;
  --background-color: #f7f5f4;
}

body {
  background-color: var(--background-color) !important ;
}

h1,
h2,
h5 {
  font-family: var(--heading-font-family);
  text-transform: uppercase;
}

a,
p {
  font-family: var(--default-font-family);
  font-size: 14px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(pictures/hero-pic.jpg);
  width: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding: 250px 0;
  color: var(--secondary-color);
  height: 100vh;
}

.container-hero {
  background-color: rgb(10, 10, 10);
  opacity: 0.4;
  max-width: 500px;
  margin: 0 50px 0 auto;
  padding: 50px 30px;
  text-transform: uppercase;
  text-align: right;
  border-radius: 5px;
  position: relative;
  top: -100px;
}

.container-hero h2 {
  font-size: 32px;
  letter-spacing: 1px;
}
.container-hero p {
  font-size: 12px;
  letter-spacing: 7px;
}

.navbar {
  background-color: var(--background-color);
}

.navbar a {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

footer {
  padding: 20px;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
}

.card-footer {
  background-color: var(--primary-color) !important;
  padding-bottom: 20px;
}

.card-footer a {
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-color);
  opacity: 0.8;
  font-size: 16px;
  align-items: center;
  letter-spacing: 8px;
}

.card-body {
  border: none;
  background-color: var(--background-color);
}
