body {
  background-color: whitesmoke;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(pictures/senja.png);
  width: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding: 250px 0;
  margin: 10px;
  color: rgb(221, 226, 231);
  text-align: center;
}
